<!DOCTYPE html>
<html>
<head>
    <title>Daily Duas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🌙 Daily Duas</h1>

<div class="container">

    {% for dua in duas %}

    <div class="dua-card">

        <h2>{{ dua.title }}</h2>

        <p><strong>Dua:</strong></p>
        <p>{{ dua.dua_text }}</p>

        <p><strong>Transliteration:</strong></p>
        <p>{{ dua.transliteration }}</p>

        <p><strong>Meaning:</strong></p>
        <p>{{ dua.meaning }}</p>

    </div>

    {% endfor %}

</div>

</body>
</html>
